<div class="ListContent">



    <div class="table">
        <div class="CreateButtonCase">
            <div class="CreateButton" onclick="create()">Create</div>
        </div>
        <div class="tr trHead">
            <div class="th id">
                ID
            </div>
            <div class="th image">
                Image
            </div>
            <div class="th title">
                Title
            </div>
        </div>
        <% for(let row=0 ;row< list.length;row++){%>
            <div onclick="Link('<%= list[row].id %>')" class="tr <% if(row%2) { %>trBlack <%}%> ">
                <div class="td id <% if(!row%2) { %>tdWhite <%}%>">
                    <%= list[row].id %>
                </div>
                <div class="td image <% if(row%2) { %>tdtrBlack <%}else{%>  tdBlack <%}%>">
                    <img class="ListImage" src="/<%= list[row].img %>">
                </div>
                <div class="td title <% if(!row%2) { %>tdWhite <%}%>"">
                    <%= list[row].title %>
                </div>
            </div>
            <%}%>
    </div>
    <%- include('pagination',{page:page,lastPage:lastPage}) %>
</div>