<div class="viewContent">
    <form action="<%= link %>" method="<%= method %>">
        <table>
            <tbody>
                <% for(let key in data){%>
                    <% if(typeof(data[key])=='object' ){%>
                        <% for(let i=0;i< data[key].length;i++){%>
                            <% for(const d in data[key][i]){%>
                                <% if(d!='id' && d!='language' && d!='lang'){%>
                                    <tr>
                                        <td>
                                            <%=data[key][i].language.title %>
                                                <%= d %>
                                        </td>
                                        <td>
                                            <%if(d=='title'){%>
                                                <input type="text"
                                                    name="<%=data[key][i].language.id %>-<%=data[key][i].language.title %>-<%= d %>"
                                                    value="<%= data[key][i][d]%>">
                                                <%}else{%>
                                                    <textarea
                                                        name="<%=data[key][i].language.id %>-<%=data[key][i].language.title %>-<%= d %>"><%= data[key][i][d]%></textarea>
                                                    <% }%>

                                        </td>
                                    </tr>
                                    <% }%>
                                        <% }%>

                                            <% }%>
                                                <% }else{%>
                                                    <% if(key=='img' ){%>
                                                        <tr>
                                                            <td>
                                                                Image
                                                            </td>
                                                            <td>
                                                                <img class="viewimage" src="/<%= data[key] %>">
                                                                <input type="file" hidden name="image" accept=".png,.jpg,.jpeg,.gif">
                                                            </td>
                                                        </tr>
                                                        <% }else{%>
                                                            <tr>
                                                                <td>
                                                                    <%= key %>
                                                                </td>
                                                                <td>
                                                                    <%= data[key] %>
                                                                        <input name="<%= key %>" type="text" hidden
                                                                            value="<%= data[key] %>">
                                                                </td>
                                                            </tr>
                                                            <% }%>



                                                                <%}%>
                                                                    <% }%>
                                                                        <tr>
                                                                            <td>
                                                                                Kindom
                                                                            </td>
                                                                            <td>
                                                                                <select name="organism">
                                                                                    <%for(let i=0;i< select.length; i++){%>
                                                                                        <option 
                                                                                        
                                                                                        <%= select[i].id %>
                                                                                        
                                                                                        <% if(data.category.category_langs[0].title == select[i].organism_langs[0].title) {%>
                                                                                            selected
                                                                                            <%}%> 
                                                                                        value="<%=select[i].id%>">
                                                                                                    <%=select[i].organism_langs[0].title%>
                                                                                        </option>
                                                                                        <%}%>
                                                                                </select>
                                                                            </td>
                                                                        </tr>
            </tbody>
        </table>


        <button type="submit">Save</button>
    </form>
</div>