<div class="creatForm">
    <form action="<%= link %>" method="<%= method %>">
        <div class="formContent">


            <% for(let i=0;i< formelements.length;i++ ){%>
                <% if (formelements[i].type=="textarea" ){ %>

                    <div class="tr">
                        <div class="td firstColumn">
                            <%= formelements[i].title %>
                        </div>
                        <div class="td">
                            <textarea class="elements" required name="<%= formelements[i].name %>" id="" cols="30"
                                rows="10"></textarea>
                        </div>


                    </div>

                    <% }else if(formelements[i].type=="file" ){ %>
                        <div class="tr">
                            <div class="td firstColumn">
                                <%= formelements[i].title %>
                            </div>
                            <div class="td">
                                <input class="elements" accept=".png,.jpg,.jpeg,.gif" required
                                    name="<%= formelements[i].name %>" type='<%= formelements[i].type %>' />

                            </div>

                        </div>
                        <%} else if(formelements[i].type=="select" ) {%>
                            <div class="tr">
                                <div class="td firstColumn">
                                    <%= formelements[i].title %>
                                </div>
                                <div class="td">
                                    <select required class="elements" name="<%= formelements[i].name %>">
                                        <option selected="selected"></option>
                                        <% for(let j=0;j< formelements[i].options.length;j++){ %>
                                            <option value="<%= formelements[i].options[j].id %>">
                                                <%= formelements[i].options[j].category_langs[0].title %>
                                            </option>
                                            <%}%>
                                    </select>
                                </div>


                            </div>
                            <% }else{ %>
                                <div class="tr">
                                    <div class="td firstColumn">
                                        <%= formelements[i].title %>
                                    </div>
                                    <div class="td">
                                        <input class="elements" required name="<%= formelements[i].name %>"
                                            type='<%= formelements[i].type %>' />
                                    </div>


                                </div>

                                <% }} %>
                                    <div onclick="submit()" style="margin: 10px;" class="OptionButton">
                                        Send
                                    </div>
                                    <button type="submit" hidden id="submitButton">Send</button>
        </div>
        </from>
</div>