<div class="pagination">
    <div class="paginationContent">

    </div>
    <div class="paginationButton" onclick="paginationBack('<%=page %>')">Back</div>
    <div class="paginationNumbers">
        <%= page %>/<%=lastPage %>
    </div>
    <div class="paginationButton" onclick="paginationNext('<%=page %>','<%= lastPage %>')">Next</div>
</div>