<div class="pagination">
    <%if(page>4){%>
        <div class="paginationButton" onclick="paginationPage(1)">1</div>
        <%}%>


            <%const number=5%>
                <% for(let i=1;i<=lastPage;i++){%>

                    <%if(i>=1 && i>=page-3 && i<=page+3 && i<=lastPage ){%>

                            <div class="paginationNumbers" onclick="paginationPage('<%= i %>')">
                                <%= i %>
                            </div>
                            <%}%>


                                <%}%>
                                    <!-- <div class="paginationNumbers">
        <%= page %>/<%=lastPage %>
    </div> -->
                                    <% if(lastPage-4>page){%>
                                        <div class="paginationButton" onclick="paginationPage('<%=lastPage %>')">
                                            <%=lastPage %>
                                        </div>
                                        <%}%>

</div>