<div class="pagination">
    <button onclick="paginationBack('<%=page %>')">Back</button>
    <div>
        <%= page %>/<%=lastPage %>
    </div>
    <button onclick="paginationNext('<%=page %>','<%= lastPage %>')">Next</button>
</div>