<div class="viewContent">
    <h2>Organism</h2>
    <div>
        <button onclick="edit()">Edit</button>
        <button onclick="del()">Delete</button>
    </div>
    <table>
        <tbody>
            <% for(let key in data){%>
                <% if(typeof(data[key])=='object' ){%>
                    <% for(let i=0;i< data[key].length;i++){%>
                        <% for(const d in data[key][i]){%>
                            <% if(d!='id' && d!='language' ){%>
                                <tr>
                                    <td>
                                        <%=data[key][i].language.title %>
                                            <%= d %>
                                    </td>
                                    <td>
                                        <%= data[key][i][d]%>
                                    </td>
                                </tr>
                                <% }%>
                                    <% }%>

                                        <% }%>
                                            <% }else{%>
                                                <% if(key=='img' ){%>
                                                    <tr>
                                                        <td>
                                                            Image
                                                        </td>
                                                        <td>
                                                            <img class="viewimage" src="/<%= data[key] %>">

                                                        </td>
                                                    </tr>
                                                    <% }else{%>
                                                        <tr>
                                                            <td>
                                                                <%= key %>
                                                            </td>
                                                            <td>
                                                                <%= data[key] %>
                                                            </td>
                                                        </tr>
                                                        <% }%>



                                                            <%}%>
                                                                <% }%>

        </tbody>
    </table>
</div>